@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DoubltTravel.Data.Models.Country>

<div>
    @foreach (var country in Model)
    {
        <div>
            <a href="/Countries?id=@country.Id">@country.Name - @country.Code</a>
        </div>
    }
</div>
