@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DoubltTravel.Data.Models.Country>

<div>
    @foreach (var country in Model)
    {
        <div>@country.Name - @country.Code</div>
    }
</div>
